<%# New Registration %>



<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
<nav class='flex justify-between bg-primary-blue p-4 text-white '>
<%= link_to :back do%>
<%= heroicon "arrow-small-left" %>
<%end%>
<h2 class='text-center'>REGISTER</h2>
  <div class="actions">
    <%= f.submit "Next" %>
  </div>
</nav>

  <%= render "devise/shared/error_messages", resource: resource %>

  <div>
    <%= f.text_field :name, autofocus: true, placeholder: 'Full name',class:'w-full border-primary-gray-3' %>
  </div>

  <div class="field">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'Email',class:'w-full border-primary-gray-3' %>
  </div>

  <div class="field">

    <%= f.password_field :password, autocomplete: "new-password", placeholder:'Password: 6 characters minimum',class:'w-full border-primary-gray-3'  %>
  </div>




<% end %>
