
<%# New Session  %>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>


<nav class='flex justify-between bg-primary-blue p-4 text-white align-center mb-4'>
<%= link_to :root do%>
<%= heroicon "arrow-small-left" %>
<%end%>
<h2 class='text-center'>LOGIN</h2>
  <div class="actions">
    <%= f.submit "Log in" %>
  </div>
</nav>


  <div class="field bg-red-200">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'Email', class:'w-full border-primary-gray-3' %>
  </div>

  <div class="field mb-8">
    <%= f.password_field :password, autocomplete: "current-password",placeholder: 'Password', class:'w-full border-primary-gray-3' %>
  </div>




<% end %>

 <div class='text-center text-primary-gray-2'>
 <%= link_to "Forgot password?", new_password_path(resource_name) %>
 </div>
