
<%# make it  a link to the category show page %>

<%= link_to category do%>
<div id="<%= dom_id category %>">

  <div class="flex items-center bg-white m-2">
 
    <div class="flex-shrink-0 h-16 w-16">
      <%= image_tag category.icon, class: "h-16 w-16 " %>
    </div>
  
  
    <div class="mx-4 flex-col w-full">
      
      <div class="flex justify-between">
        <div class="text-sm font-medium text-gray-900">
          <%= category.name %>
        </div>

        <div>
           $<%=category.total %> 
        </div>

      </div>

      <p class="text-[8px] text-gray-500 ">
        <%= category.created_at.strftime("%B %d, %Y") %>
      </p>
    </div>


</div>

<%end%>
