<nav class="flex-col bg-primary-blue">
 
  <div class="flex justify-start h-16 space-x-32 text-white text-center items-center">
   <%= link_to :back do%>
     <%= heroicon "arrow-small-left" %>
    <%end%>
  <p>DETAILS</p>
  </div>


</nav>


<div class="  w-full flex bg-slate-100">
  <div class="bg-white m-2 w-full">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>

   <div id="">

  <div class="flex-col m-2">
 
    <div class="flex space-x-2 items-center">
      <div class="flex-shrink-0 h-16 w-16">
        <%= image_tag @category.icon, class: "h-16 w-16 " %>
      </div>
      
        <div class="flex justify-between">
          <div class="text-sm font-medium text-gray-900">
            <%= @category.name %>
          </div>
        </div>
    </div>

    <div>
    
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Necessitatibus eligendi qui deleniti
    </div>

    <div class="border-2 border-slate-200 mx-4 "></div>

    <div>
      <%= render @financial_transactions %>
    </div>

    <div class="border-2 border-slate-200 mx-4 "></div>
    <div class="flex justify-between pr-4">
     <span>Total Payment</span>     <span>$<%= @total %></span>
    </div>

</div>


 
  </div>
</div>

     <div class='fixed bottom-0 w-full my-4 text-center'>
     <%= link_to 'New Transaction', new_financial_transaction_path(category_id:@category.id), class: " py-3 px-5 bg-secondary-green text-white block font-medium" %>
     </div>
</div>