<!DOCTYPE html>
<html>
  <head>
    <title>Budgetron</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <main class="container flex-col">
      

      <div class='flex-col '>
   
        <% if alert %>
         <p class="px-2 py-1 alert text-rose-500 bg-rose-300 "><%= alert %></p>
        <%end%>
      </div>
      <%= yield %>
    </main>
  </body>
</html>
